  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --primary: 20.5 90.2% 48.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --ring: 20.5 90.2% 48.2%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
    body {
      @apply bg-background relative text-white w-screen overflow-x-hidden
    }
  }




  @layer components {
    .flex-center{
      @apply flex items-center justify-center
    }
    .btn-primary{
      @apply duration-300 shadow-lg bg-primary hover:bg-cyan-400 hover:shadow-cyan-400/40 

    }
    .btn-secondary{
      @apply text-white duration-300 border shadow-lg hover:bg-white hover:text-black hover:shadow-white/40
    }
  }

  .parallax-animation{
    animation: parallax linear both;
    animation-timeline: scroll(root);
    animation-range : 0 200px
  }

  @keyframes parallax {
    from{
      transform: translateY(0px);
    }
    to{
      transform: translateY(120px);
    }
  }

  .glitch a:nth-child(1) {
    color: white;
    animation: glitch 2s infinite forwards
  }
  .glitch a:nth-child(2) {
    color: white;
    animation: glitchTwo 1.5s infinite forwards
  }
  .glitch a:nth-child(3) {
    color: white;
    animation: glitchThree 1s infinite forwards
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0, 0);
      clip-path: polygon(19% 74%, 75% 84%, 75% 100%, 0% 100%);
    }
    5% {
      transform: translate(10px, 0);
      clip-path: polygon(100% 0%, 100% 0%, 5% 50%, 0% 10%);
    }
    10% {
      transform: translate(0, 0);
      clip-path: polygon(3% 100%, 100% 53%, 12% 12%, 0% 3%);
    }
    15% {
      transform: translate(10px, 10px);
      clip-path: polygon(39% 43%, 50% 19%, 15% 22%, 20% 40%);
    }
    20% {
      transform: translate(-10px, -10px);
      clip-path: polygon(100% 54%, 22% 25%, 33% 54%, 34% 97%);
    }
    25% {
      transform: translate(0, 0);
      clip-path: polygon(19% 74%, 75% 84%, 75% 100%, 0% 100%);
    }
  }
  
  @keyframes glitchTwo {
    0% {
      transform: translate(20px, 0);
      clip-path: polygon(22% 0%, 0% 84%, 0% 50%, 0% 0%);
    }
    3% {
      transform: translate(0, 10px);
      clip-path: polygon(0% 10%, 50% 32%, 54% 2%, 10% 100%);
    }
    8% {
      transform: translate(0, 0);
      clip-path: polygon(3% 0%, 54% 53%, 0% 12%, 0% 30%);
    }
    12% {
      transform: translate(-10px, 10px);
      clip-path: polygon(0% 23%, 50% 0%, 15% 22%, 0% 40%);
    }
    18% {
      transform: translate(-10px, 10px);
      clip-path: polygon(0% 0%, 19% 25%, 22% 54%, 0% 97%);
    }
    30% {
      transform: translate(0, 0);
      clip-path: polygon(22% 0%, 0% 84%, 0% 50%, 0% 0%);
    }
  }




.loader {
  width: 30px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(from 120deg at 50% 64%,#0000, #FFF 1deg 120deg,#0000 121deg);
  animation: l27-0 1.5s infinite cubic-bezier(0.3,1,0,1);
}
.loader:before,
.loader:after {
  content:'';
  position: absolute;
  inset:0;
  background:inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s:-1;
}
@keyframes l27-0 {
   0%,30%      {transform: rotate(0)}
   70%         {transform: rotate(120deg)}
   70.01%,100% {transform: rotate(360deg)}
}
@keyframes l27-1 {
   0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
   30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
   100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
}